body {
  background-color: black;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  width: auto;
  max-width: 100%;
}

/* CSS for Navigation area */
nav {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.line-up {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(rgb(27, 156, 240), rgb(244, 115, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

a:active {
  text-decoration: none;
  background: -webkit-linear-gradient(rgb(27, 156, 240), rgb(244, 115, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.my-icon {
  margin-top: 1rem;
}

.project:hover {
  background: -webkit-linear-gradient(rgb(27, 156, 240), rgb(244, 115, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.tech:hover {
  background: -webkit-linear-gradient(rgb(27, 156, 240), rgb(244, 115, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.about:hover {
  background: -webkit-linear-gradient(rgb(27, 156, 240), rgb(244, 115, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.git {
  /* position: absolute;
  right: 100px; */
  width: 30px;
  margin-top: 1rem;
}

/* CSS for Intro Section */
.intro {
  margin: 150px auto;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}

.anim{
  display: flex;
}

.word{
  width: 100%;
}

.intro-p {
  font-size: 1.5rem;
  width: 75%;
  margin-top: 30px;
  line-height: 2;
}

svg{
  width:200%;
  position: relative;
  right: 100px;
}

h1 {
  font-size: 4rem;
  margin: 0 auto;
  background: -webkit-linear-gradient(rgb(27, 156, 240), rgb(244, 115, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  margin-left: 0;
  border-top: 1px solid;
  border-radius: 20px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-width: 5px;
  width: 100px;
  background-image: -webkit-linear-gradient(rgb(27, 156, 240), rgb(244, 115, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
}

/* CSS for Project section */
.proj {
  margin: 50px auto;
}

.grid-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2;
  width: 100%;
}

.sigmart {
  width: 100%;
}

figcaption {
  font-size: 2rem;
  color: rgb(156, 201, 227);
  padding-top: 5px;
}

.my-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-top: 10px;
  color: rgb(216, 191, 191);
}

/* Tech */
.t {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

div {
  width: 30%
}

p {
  line-height: 2;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-bottom: 60px;
}

.horiz {
  margin-left: 20%;
  border-top: 1px solid;
  border-radius: 20px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-width: 5px;
  width: 100px;
  background-image: -webkit-linear-gradient(rgb(27, 156, 240), rgb(244, 115, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
}
